version: '2.1'
services:
    redis:
        image: 'redis:5.0.5'
        command: redis-server --requirepass redispass

    postgres:
        build: './docker/postgres'
        restart: always
        container_name: postgres
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "10m"
        ports:
        - "32769:5432"
        #volumes:
        #- ./mnt/postgres:/var/lib/postgresql/data/pgdata
        environment:
            - POSTGRES_USER=airflow
            - POSTGRES_PASSWORD=airflow
            - POSTGRES_DB=airflow
        #- PGDATA=/var/lib/postgresql/data/pgdata
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", "airflow", "-U", "airflow" ]
            timeout: 45s
            interval: 10s
            retries: 10

    adminer:
        image: wodby/adminer:latest
        restart: always
        container_name: adminer
        logging:
            driver: "json-file"
            options:
                max-file: "5"
                max-size: "10m"
        ports:
            - "32767:9000"
        environment:
            - ADMINER_DEFAULT_DB_DRIVER=psql
            - ADMINER_DEFAULT_DB_HOST=postgres
            - ADMINER_DEFAULT_DB_NAME=airflow
        healthcheck:
            test: [ "CMD", "nc", "-z", "adminer", "9000" ]
            timeout: 45s
            interval: 10s
            retries: 10

    webserver:
        build: ./docker/airflow
        restart: always
        depends_on:
            - postgres
            - redis
        environment:
            - LOAD_EX=n
            - FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
            - EXECUTOR=Celery
            - POSTGRES_USER=airflow
            - POSTGRES_PASSWORD=airflow
            - POSTGRES_DB=airflow
            - REDIS_PASSWORD=redispass
            - PYTHONPATH=/usr/local/airflow/conf/
        volumes:
            - ./mnt/airflow/dags:/usr/local/airflow/dags
            - ./mnt/airflow/airflow.cfg:/usr/local/airflow/airflow.cfg
            - ./mnt/airflow/logs:/usr/local/airflow/logs
            - ./mnt/airflow/conf:/usr/local/airflow/conf
            # Uncomment to include custom plugins
            # - ./plugins:/usr/local/airflow/plugins
        ports:
            - "8080:8080"
        command: webserver
        healthcheck:
            test: ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
            interval: 30s
            timeout: 30s
            retries: 3

    flower:
        build: ./docker/airflow
        restart: always
        depends_on:
            - redis
        environment:
            - EXECUTOR=Celery
            - REDIS_PASSWORD=redispass
        ports:
            - "5555:5555"
        command: flower

    scheduler:
        build: ./docker/airflow
        restart: always
        depends_on:
            - webserver
        volumes:
            - ./mnt/airflow/dags:/usr/local/airflow/dags
            - ./mnt/airflow/airflow.cfg:/usr/local/airflow/airflow.cfg
            - ./mnt/airflow/logs:/usr/local/airflow/logs   
            - ./mnt/airflow/conf:/usr/local/airflow/conf
        # Uncomment to include custom plugins
            # - ./plugins:/usr/local/airflow/plugins
        environment:
            - LOAD_EX=n
            - FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
            - EXECUTOR=Celery
            - POSTGRES_USER=airflow
            - POSTGRES_PASSWORD=airflow
            - POSTGRES_DB=airflow
            - REDIS_PASSWORD=redispass
            - PYTHONPATH=/usr/local/airflow/conf/
        command: scheduler

    worker:
        build: ./docker/airflow
        restart: always
        depends_on:
            - scheduler
        volumes:
            - ./mnt/airflow/dags:/usr/local/airflow/dags
            - ./mnt/airflow/airflow.cfg:/usr/local/airflow/airflow.cfg
            - ./mnt/airflow/logs:/usr/local/airflow/logs   
            - ./mnt/airflow/conf:/usr/local/airflow/conf  
            # Uncomment to include custom plugins
            # - ./plugins:/usr/local/airflow/plugins
        environment:
            - FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
            - EXECUTOR=Celery
            - POSTGRES_USER=airflow
            - POSTGRES_PASSWORD=airflow
            - POSTGRES_DB=airflow
            - REDIS_PASSWORD=redispass
            - PYTHONPATH=/usr/local/airflow/conf/
        command: worker
networks:
  default:
    name: airflow-network